

.slider {
  z-index: 999;
  position: fixed;
  width: 200px;
  height: 100%;
  left: -200px;
  top: 50%;
  transform: translate(0, -50%);
  transition: 1s;
  background-color: rgb(255, 255, 255);
}

.slider.open {
  left: 0px;
}

.slider-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;

  font-size: 24px;
  line-height: 48px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  
}

.user-name {
  font-size: 26px;
  font-weight: 600;
  margin-top: 48px;
  
}

.user-email {
  display: block;
  margin-top: -10px;
  font-size: 12px;
}


.slider-main ul {
  background-color: rgb(255, 255, 255);
  width: 100%;
  list-style: none;
  position: absolute;
  top: 160px;
  margin: 0;
  padding: 0;
}

.slider-main li {
  position: relative;
  height: 50px;
  /* border-top: solid 1px palegreen; */
  transition: 0.3s;
}

/* .slider-main li:last-child {
  border-bottom: solid 1px  palegreen;
} */

.slider-main li:hover {
  background-color: rgb(122, 115, 116);
  cursor: pointer;
}

.slider-main .li-content {
  position: relative;
  height: 50px;
  width: 128px;
  margin: 0 auto;
}

.slider-main .icon {
  position: absolute;
  height: 16px;
  width: 16px;

  top: 15px;
}

.slider-main li img {
  height: 16px;
  width: 16px;
}

.slider-main li .text {
  position: absolute;
  font-size: 18px;
  left: 34px;
  top: 10px;
}

.slider-btn {
  position: absolute;
  top: 4px;
  right: -32px;
  color: aqua;
  font-size: 20px;
  transform: rotate(0.5turn);
  transition: 1s;
}

.slider-btn img {
  width: 24px;
  height: 24px;
}

.slider.open .slider-btn {
  transform: rotate(1turn);
  right: 4px;
}

.slider-btn:hover {
  cursor: pointer;
}